<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakanylmz1.cocugumalfabeegitiminde">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".birinci_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BIRINCI_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ikinci_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.IKINCI_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ucuncu_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UCUNCU_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dorduncu_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DORDUNCU_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".besinci_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.BESINCI_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".altinci_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ALTINCI_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yedinci_sayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.YEDINCI_SAYFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".harfler_bir"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HARFLER_BIR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".harfler_iki"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HARFLER_IKI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".harfler_uc"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HARFLER_UC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".harfler_dort"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HARFLER_DORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sayilar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SAYILAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>